/*----------------------------------------------
	Main Structure
-----------------------------------------------*/

body,
html {
    font-family: 'Roboto Condensed', Sans-serif;
    margin: 0px;
    background: #505050 url("../images/bkg.png") left top repeat;
    color: #303030;
    line-height: 1.5;
    font-size: 13px;
    text-align: justify;
}

.header {
    border-top: 8px solid rgb(22, 22, 22);
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.logo-left,
.logo-right {
    flex: 1;
    background-repeat: no-repeat;
    background-size: contain;
    height: 90px;
    width: auto;
    margin: 5px;
}

.logo-left {
    background-image: url("../images/logo.png");
    background-position: left center;
}

.logo-right {
    background-image: url("");
    background-position: center right;
}

.text-center {
    flex: auto;
    text-align: center;
}

.text-center a:hover {
    text-decoration: none;
    color: #222;
}

.logo-text {
    color: #222;
    font-weight: bolder;
    text-shadow: 2px 2px 7px gray;
    font-size: 3em;
}

a.logo-text,
a.card-link {
    text-decoration: none;
    color: #222;
}

#main {
    background-color: #F5F5F5;
    width: 100%;
    min-height: 300px;
    padding: 20px;
    display: inline-block;
    box-sizing: border-box;
}

#footer {
    width: 100%;
    background: #000;
    padding: 10px;
    color: #fff;
    box-sizing: border-box;
}

.version {
    float: right;
}

/*----------------------------------------------
    Hromadna registrace disciplin
-----------------------------------------------*/
#discRows .disc-row:first-child .remove-row {
    display: none;
}

/*----------------------------------------------
	Elements
-----------------------------------------------*/
h1 {
    font-size: 24px;
    color: #2a5a8e !important;
    text-shadow: 0 0 1px #000;
}

h2 {
    font-size: 19px;
    font-weight: bold;
    color: #2a5a8e !important;
}

h3 {
    font-size: 17px;
    font-weight: bold;
    color: #2a5a8e !important;
}

h4 {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

#zavodnici th,
.prehledy th {
    background-color: #2375d2 !important;
    color: white !important;
    text-align: left !important;
    padding-left: 10px !important;
}

#zavodnici td,
#zavodnici th,
.prehledy td,
.prehledy th {
    padding: .75rem;
    border: 1px solid #dee2e6;
}

.cursor-pointer {
    cursor: pointer !important;
}

/*----------------------------------------------
	Navigation menu
-----------------------------------------------*/
.navbar {
    background-color: #2A5A8E !important;
    padding: 0rem 1rem !important;
    color: #fff;
    border-bottom: 1px solid #000;
}

.nav-item,
.navbar {
    font-size: 1.2rem;
    font-weight: normal !important;
    background: linear-gradient(to bottom, transparent 80%, rgba(0, 0, 0, 0.15) 100%);
    border-top: 1px solid #2A5A8E;
    border-right: 1px solid #023266;
    border-left: 1px solid #4878AC;
}

.nav-link,
.nav-link a {
    color: #ffffff !important;
}

a.nav-link.active,
.nav-link:hover {
    background-color: #ffffff !important;
    color: #000000 !important;
    transition: 0.5s;
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, .25) !important;
}

/*----------------------------------------------
	Content
-----------------------------------------------*/
.container {
    width: auto;
    margin: 0 auto;
    padding: 0 110px;
}

.article {
    box-shadow: 0 0 1px #2a5a8e;
    background-color: #fff;
    font-size: 1.2rem;
}

.caption-text {
    padding-top: 0.4rem;
    display: inline-block;
}

.caption {
    background-color: #e9ecef !important;
}


.border-primary {
    box-shadow: 0 0 1px #2a5a8e;
    border: none !important;
}

.border-info {
    border-color: #c1cddb !important;
}


/*----------------------------------------------
	Gallery
-----------------------------------------------*/

.portfolio-item {
    width: 100%;
}

.portfolio-item .item {
    width: 350px;
    float: left;
    margin-bottom: 10px;
}

.portfolio-item.row {
    margin-left: 20px !important;
}

.portfolio-item .img-thumbnail {
    width: 75%;
}

.popover {
    max-width: 100%;
}


textarea {
    field-sizing: content;
}


i.login-toggle-password {
    position: absolute;
    left: 275px;
    top: 5px;
    cursor: pointer;
    z-index: 1000;
}

i.toggle-password {
    position: relative;
    left: 310px;
    top: -25px;
    cursor: pointer;
    z-index: 1000;
}

/*----------------------------------------------
	Alias validation
-----------------------------------------------*/

/*
.alert {
    display: none;
}
*/

.form input[type="text"]:not(.browser-default).invalid {
    border: 1px solid #dc3545 !important;
}

.form input[type="text"]:not(.browser-default).form-control.invalid+label::after {
    top: 5rem;
    color: #dc3545;
    content: attr(data-error);
    opacity: 1;
    position: absolute;
    display: block;
    font-size: 10px;
}

label.alias_validation {
    padding-bottom: 1rem;
}

/*----------------------------------------------
	tabulka závodníků
-----------------------------------------------*/

.table-responsive-shifts {
    overflow-x: auto;
}

.shift-table {
    table-layout: fixed;
    width: 100%;
    min-width: 900px;
}

.shift-table tr {
    height: 60px;
}


.shift-table th,
.shift-table td {
    text-align: center;
    vertical-align: middle;
}

.shift-table th,
th.text-nowrap,
th.text-nowrap.column1st {
    background-color: #2375d2;
    color: #ffffff;
}

.shift-table td {
    aspect-ratio: 1 / 1;
}

.shift-cell {
    cursor: pointer;
    transition: background .15s;
}

.shift-cell:hover {
    background: #f2f7ff;
}

/* sticky první sloupec */
.shift-table th:first-child {
    position: sticky;
    left: 0;
    background: white;
    z-index: 3;
}

td.shift-cell:not(.open-reg-modal) {
    background: #f0f8ff;
}

th.text-nowrap.column1st {
    background-color: #2375d2;
}

/*----------------------------------------------
	DataTable a Bootstrap
-----------------------------------------------*/


.table-bordered {
    border: 1px solid #dee2e6;
}

/* .table td,
.table th {
    padding: .75rem;
} */

.btn-secondary,
.btn-light {
    background-color: #4a9fff;
    color: #ffffff;
}

.dt-print-view {
    background: #ffffff;
}

.close {
    opacity: .75;
}

::placeholder {
    opacity: .75 !important;
    font-style: italic;
}

.modal-body {
    max-height: 75vh;
    overflow-y: auto;
    . overflow-x: hidden;
}


.accordion-button:not(.collapsed) {
    background-color: #e9ecef !important;
    font-weight: bold !important;
    color: #2a5a8e !important;
}

/*----------------------------------------------
	Tooltip
-----------------------------------------------*/
.tooltip {
    cursor: help;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    opacity: 1;
    font-size: inherit !important;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #F5F5F5;
    border: 1px solid darkgrey;
    color: black;
    border-radius: 5px;
    padding: 10px;
    font-size: 11px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -10px;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltiptext ul {
    padding-left: 20px;
    font-weight: normal;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*----------------------------------------------
	Responsive
-----------------------------------------------*/

@media only screen and (max-width: 768px) {

    /* Extra small devices (phones, 600px and down) */
    .container {
        padding: 0 10px;
    }

    .logo-text {
        font-size: 1.9em;
    }

    .logo-right {
        flex: 0;
    }

    .nav-item,
    .navbar {
        background: none;
        border: none;
    }

    a.nav-link {
        font-size: x-large;
    }

    #footer {
        text-align: center;
    }

    .version {
        float: none;
    }
}

@media only screen and (min-width: 768px) {

    /* Large devices (laptops/desktops, 992px and up) */
    .container {
        padding: 0 10px;
        flex: 1 !important;
    }

    .logo-text {
        font-size: 2.1em;
    }

}

@media only screen and (min-width: 992px) {

    /* Large devices (laptops/desktops, 992px and up) */
    .container {
        padding: 0 110px;
    }

    .logo-text {
        font-size: 3em;
    }

}

@media only screen and (min-width: 1200px) {

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    .container {
        padding: 0 110px;
    }

}